C_Python/Download/
C_Python/rapa/
C_Python/source/C/ch02_variable/.vs/
C_Python/source/C/ch03_loop/.vscode/
C_Python/source/C/ch03_loop/build/
C_Python/source/C/ch04_condition/.vscode/
C_Python/source/C/ch04_condition/build/
C_Python/source/C/ch05_Function/.vscode/
C_Python/source/C/ch05_Function/build/
C_Python/source/C/ch06_Array/.vscode/
C_Python/source/C/ch06_Array/build/
C_Python/source/C/ch07_Pointer/.vscode/
C_Python/source/C/ch07_Pointer/build/
C_Python/source/C/ch08_Struct/.vscode/
C_Python/source/C/ch08_Struct/build/
C_Python/source/Python/.ipynb_checkpoints/
C_Python/source/Python/.virtual_documents/
C_Python/source/Python/__pycache__/
C_Python/source/Python/data/